API_HOST=0.0.0.0
API_PORT=3001

MQTT_URL=mqtt://broker.emqx.io:1883
MQTT_TOPIC=maison/+

INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=put_your_influxdb_token_here
INFLUX_ORG=smart_home
INFLUX_BUCKET=energy

SOURCE=stm32mp15
CHATBOT_URL=http://127.0.0.1:8000/chat

# Optional:
# SIMULATION=true
# GEMINI_API_KEY=your_google_gemini_key
# GEMINI_MODEL=gemini-2.5-flash
